.header {
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blur-event {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.74) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.header-img {
    width: 62%;
    height: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.buy-ticket {
    width: 100%;
    height: 30%;
}

.leaflet-container {
    height: 500px;
}

.quantity-input {
    border: none;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    width: 3em;
}
.quantity-input:focus {
    border: none;
    outline: none;
}

.quantity-btn{
    border: none;
    font-size: 20px;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    background-color: rgb(218, 218, 218);
    font-weight: bold;
}
.container-map {
    position: relative;
  }
  
  .box-map {
    position: absolute;
    bottom: 0px; /* ajuste a posição vertical conforme necessário */
    left: 0px; /* ajuste a posição horizontal conforme necessário */
    z-index: 1000!important; /* certifique-se de que o z-index seja maior que o do mapa */
    /* outros estilos conforme desejado */
    border-radius: 0px 20px 0px 0px!important;
    background-color: rgb(138, 137, 137);
    padding: 10px!important;

  }
  .box-map >p{
    margin: 0px;
    font-size: 16px;
    
  }
