ul {
    list-style: none;


}

main {
    position: relative;
    padding-bottom: 100px;
    height: 83vh;
    /* altura do rodapé */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}